In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("./input"))#"/input"))

['imdb-sf']

In [28]:
data = pd.read_csv('./input/imdb-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [8]:
len(data)

1890

# Предобработка датасета

In [29]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
answer_ls

[]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [30]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
print(data[data.budget == data.budget.max()]['original_title'])
answer_ls.append(4)

491    The Warrior's Way
Name: original_title, dtype: object

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [31]:
display(data.query('runtime == runtime.max()')['original_title'])
answer_ls.append(2)

1158    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [32]:
display(data.query('runtime == runtime.min()'))
answer_ls.append(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [33]:
print(round(data.runtime.mean()))
answer_ls.append(2)

110

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [34]:
print(round(data.runtime.median()))
answer_ls.append(1)

106

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [35]:
data['profit'] = data['revenue'] - data['budget']
display(data.query('profit == profit.max()'))
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [36]:
data['profit'] = data['revenue'] - data['budget']
display(data.query('profit == profit.min()'))
answer_ls.append(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [37]:
print(len(data.query('revenue > budget')))

answer_ls.append(1)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [38]:
#Создадим маску для выборки
mask = data['release_year'] == 2008

#Отбираем запись с самым кассовым фильмом (с максимальными сборами) за 2008 год
display(data.loc[mask].query('revenue == revenue.max()'))

answer_ls.append(4)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [39]:
#Создадим маску для периода выборки
mask = (data['release_year'] >= 2012) & (data['release_year'] <= 2014)

#Добавим столбец, содержащий прибыль/убыток
data['profit'] = data['revenue'] - data['budget']

#Отбираем запись с самым убыточным фильмом за период с 2012 по 2014 (включительно)
display(data.loc[mask].query('profit == profit.min()'))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [40]:
#Создадим список list_total, в котором будут все элементы work_cols, разделенные методом split 
# и переведенные в нижний регистрв нижний регистр
list_total = data['genres'].apply(lambda x: str(x).lower()).str.split('|').sum()

#Преобразуем список list_total в серию, к которой применим метод value_counts
result = pd.Series(list_total).value_counts()[:1]

display('Больше всего фильмов жанра {}'.format(list(result.index)))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(3)

"Больше всего фильмов жанра ['drama']"

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [47]:
#Создадим маску для прибыльных фильмов
mask = data.revenue > data.budget

'''Создадим список, в котором будет подсчитанное количество элементов 'genres', разделенное методом split 
 и переведенное в нижний регистр'''
list_genres=Counter(data[mask]['genres'].apply(lambda x: str(x).lower()).str.split('|').sum()).most_common(1)

print('Среди прибыльных фильмов больше всего фильмов жанра {}'.format(*list_genres))
#Добавляем в список ответов свой вариант ответа
answer_ls.append(1)

Среди прибыльных фильмов больше всего фильмов жанра ('drama', 560)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [48]:
#Создадим список list_total, в котором будут все элементы 'director' 
list_total = data['director'].str.split('|').sum()

# получим результат через value_counts() Серии, которую создадим из списка list_total
print(pd.Series(list_total).value_counts()[:1])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(3)

Steven Soderbergh    13
dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [51]:
#Создадим маску для выборки прибыльных фильмов
mask = data.revenue > data.budget

# Подсчитаем количество режиссеров, снявших прибыльные фильмы
print(*Counter(data[mask]['director'].str.split('|').sum()).most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(4)
print('Вариант ответа - ', answer_ls[14-1])

('Ridley Scott', 12)
Вариант ответа -  4

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [52]:
#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

# Функция подсчета всех сумм прибылей по каждому режиссеру 
def to_profit_counter(row):
    profit,other_col = row
    return Counter({c:profit for c in other_col.split('|')})
                    
print(data[['profit','director']].apply(to_profit_counter,axis=1).sum().most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)
print('Вариант ответа - ', answer_ls[15-1])

[('Peter Jackson', 5202593685)]
Вариант ответа -  5

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [53]:
#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

# Функция подсчета всех сумм прибылей по каждому актеру 
def to_profit_counter(row):
    profit,other_col = row
    return Counter({c:profit for c in other_col.split('|')})
                    
print(data[['profit','cast']].apply(to_profit_counter,axis=1).sum().most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(1)
print('Вариант ответа - ', answer_ls[16-1])

[('Emma Watson', 6666245597)]
Вариант ответа -  1

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [55]:
#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

#Создадим маску для диапазона дат
mask = "release_year == 2012"

# Функция подсчета всех сумм прибылей по каждому актеру 
def to_profit_counter(row):
    profit,other_col = row
    return Counter({c:-profit for c in other_col.split('|')})


df_cast = pd.DataFrame(data.query(mask)[['profit','cast']].apply(to_profit_counter,axis=1).sum().most_common(),\
                       columns=['cast','profit'])


print(df_cast.query("cast in ['Nicolas Cage','Danny Huston','Kirsten Dunst','Jim Sturgess','Sami Gayle']"))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(3)
print('Вариант ответа - ', answer_ls[17-1])

            cast    profit
0  Kirsten Dunst  68109207
1   Jim Sturgess  51893525
6   Nicolas Cage  32893443
8     Sami Gayle  32893443
9   Danny Huston  32893443
Вариант ответа -  3

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [56]:
#Создадим маску для выборки высокобюджетных фильмов
mask = (data['budget'] > data['budget'].mean())

#Выводим результат - актера, снявшегося больше всех в высокобюджетных фильмах и кол-во таких фильмов
print(Counter(data[mask]['cast'].str.split('|').sum()).most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(3)
print('Вариант ответа - ', answer_ls[18-1])

[('Matt Damon', 18)]
Вариант ответа -  3

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [57]:
#Создадим маску для выборки фильмов Nicolas Cage
mask = data.cast.str.contains('Nicolas Cage', na=False)

#Самый часто встречаемый жанр фильмов Nicolas Cage
print(Counter(data[mask]['genres'].str.split('|').sum()).most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(2)
print('Вариант ответа - ', answer_ls[19-1])

[('Action', 17)]
Вариант ответа -  2

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [59]:
#Создадим маску для списка студий
mask = ['Universal Pictures (Universal)',\
        'Paramount Pictures',\
        'Columbia Pictures',\
        'Warner Bros',\
        'Twentieth Century Fox Film Corporation']
#датафрейм с кинокомпаниями 
df_companies = pd.DataFrame(data['production_companies'].str.split('|').sum(),\
                       columns=['production_companies'])

# Добавляю поле по кинокомпаниям, в котором Universal Pictures и Universal объединены в Universal Pictures (Universal)
df_companies['companies'] = df_companies['production_companies'].apply(lambda x: 'Universal Pictures (Universal)' \
                                                             if x in ['Universal Pictures','Universal'] else x)

# Вывод результата подсчета количества фильмов по киностудиям из списка
print(df_companies.query("companies in @mask")['companies'].value_counts())

#Добавляем в список ответов свой вариант ответа 
answer_ls.append(1)
print('Вариант ответа - ', answer_ls[20-1])

Universal Pictures (Universal)            176
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
Name: companies, dtype: int64
Вариант ответа -  1

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [60]:
#Создадим маску для диапазона дат
mask = data['release_year'] == 2015

#Выведем результат с использованием Counter
display(Counter(data[mask]['production_companies'].str.split('|').sum()).most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(4)
print('Вариант ответа - ', answer_ls[21-1])

[('Warner Bros.', 12)]

Вариант ответа -  4

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [62]:
#Создадим маску для выборки жанра
mask = data.genres.str.contains('Comedy', na=False)

#Список студий
condition = ['Warner Bros','Universal Pictures','Universal','Columbia Pictures','Paramount Pictures','Walt Disney']

#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

# Функция подсчета всех сумм прибылей по каждой кинокомпании
def to_profit_counter(row):
    profit,other_col = row
    return Counter({c:profit for c in other_col.split('|') if c in condition})

#Выводим результат - кинокомпанию, заработавшую больше всего в жанре комедий за все время, и сумму прибыли
print(data[mask][['profit','production_companies']].apply(to_profit_counter,axis=1).sum().most_common())

#Добавляем в список ответов свой вариант ответа
answer_ls.append(2)
print('Вариант ответа - ', answer_ls[22-1])

[('Universal Pictures', 8961545581), ('Columbia Pictures', 5646343696), ('Paramount Pictures', 3055625722), ('Universal', 54625195)]
Вариант ответа -  2

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [63]:
#Создадим маску для года выпуск
mask = data['release_year'] == 2012

#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

# Функция подсчета всех сумм прибылей по каждой кинокомпании
def to_profit_counter(row):
    profit,other_col = row
    return Counter({c:profit for c in other_col.split('|')})

##Выводим результат - кинокомпанию, заработавшую больше всего в 2012 году, и сумму прибыли
print(data[mask][['profit','production_companies']].apply(to_profit_counter,axis=1).sum().most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(3)
print('Вариант ответа - ', answer_ls[23-1])

[('Columbia Pictures', 2501406608)]
Вариант ответа -  3

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [64]:
#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

#Создадим маску для выборки кинокомпании
mask = data.production_companies.str.contains('Paramount Pictures', na=False)

#Определим самый убыточный фильм от Paramount Pictures
display(data.loc[mask].query('profit == profit.min()')[['original_title','profit','production_companies']])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(1)
print('Вариант ответа - ', answer_ls[24-1])

,original_title,profit,production_companies
926,K-19: The Widowmaker,-64831034,Paramount Pictures|Intermedia Films|National G...

Вариант ответа -  1

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [65]:
#Определим самый прибыльный для киностудий год:
profit_year = data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(profit_year.iloc[[0]])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)
print('Вариант ответа - ', answer_ls[25-1])

release_year
2015    18668572378
Name: profit, dtype: int64

Вариант ответа -  5

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [66]:
#Создадим маску для выборки кинокомпании
mask = data.production_companies.str.contains('Warner Bros', na=False)

#Определим самый прибыльный год для Warner Bros
profit_year = data[mask].groupby(['release_year'])['profit'].sum().sort_values(ascending = False)

display(profit_year.iloc[[0]])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(1)
print('Вариант ответа - ', answer_ls[26-1])

release_year
2014    2295464519
Name: profit, dtype: int64

Вариант ответа -  1

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [67]:
#Приводим серию data['release_date'] к dtype datetime64:
data['release_date'] = pd.to_datetime(data['release_date'])

#Добавим поле для хранения месяца выхода фильма в формате двух цифр %m
data['release_month'] = data.release_date.apply(lambda x: x.strftime('%m'))

#Сделаем группировку по месяцам и определим в каком месяце за все годы суммарно вышло больше всего фильмов
display(data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False).iloc[[0]])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(4)
print('Вариант ответа - ', answer_ls[27-1])

release_month
09    227
Name: imdb_id, dtype: int64

Вариант ответа -  4

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [68]:
#Приводим серию data['release_date'] к dtype datetime64:
data['release_date'] = pd.to_datetime(data['release_date'])

#Добавим поле для хранения месяца выхода фильма в формате двух цифр %m:
data['release_month'] = data.release_date.apply(lambda x: x.strftime('%m')) 

#Определим сколько суммарно вышло фильмов летом:
print(data.query('release_month in ["06","07","08"]')['imdb_id'].count().sum())

#Добавляем в список ответов свой вариант ответа
answer_ls.append(2)
print('Вариант ответа - ', answer_ls[28-1])

450
Вариант ответа -  2

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [69]:
#Приводим серию data['release_date'] к dtype datetime64:
data['release_date'] = pd.to_datetime(data['release_date'])

#Добавим поле для хранения месяца выхода фильма:
data['release_month'] = data.release_date.apply(lambda x: x.month) #месяц в формате int64

# Список режиссеров
condition = ['Steven Soderbergh','Christopher Nolan','Clint Eastwood','Ridley Scott','Peter Jackson']

# Функция подсчета данных из списка
def to_counter(col):
    return Counter({c for c in col.split('|') if c in condition})

# Выводим результат - режиссера, снявшего больше всего фильмов зимой
print(data.query("release_month in [12, 1, 2]")['director'].apply(to_counter).sum().most_common(1))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)
print('Вариант ответа - ', answer_ls[29-1])

[('Peter Jackson', 7)]
Вариант ответа -  5

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [70]:
#Добавим новую колонку для хранения прибыли от фильма
data['profit'] = data['revenue'] - data['budget']

#Приводим серию data['release_date'] к dtype datetime64:
data['release_date'] = pd.to_datetime(data['release_date'])

#Добавим поля для хранения месяца и года выхода фильма:
data['release_month'] = data.release_date.apply(lambda x: x.strftime('%B')) #месяц в формате наим
data['release_year'] = data.release_date.apply(lambda x: x.year) #год в формате int64

#Создадим сводную таблицу, где строками будут месяцы, столбцами - годы, данными - суммы прибыли:
pivot=data.pivot_table(values = ['profit'],
                      index = ['release_month'],
                      columns = ['release_year'],
                      aggfunc = 'sum',
                      fill_value = 0)

#Создадим датафрейм на основе сводной таблицы
pivot_df = pd.DataFrame(pivot)
#Посчитаем количество месяцев с максимальными суммами прибыли по годам
month_max_profit = pivot_df[pivot_df['profit'] == pivot_df['profit'].max()].idxmax().value_counts()

#Определим наиболее прибыльный месяц:
display(month_max_profit.index[0])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(2)
print('Вариант ответа - ', answer_ls[30-1])

'June'

Вариант ответа -  2

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [73]:
#Запишем в список анализируемые компании:
conditions=['Universal','Warner Bros','Jim Henson Company, The',\
                 'Paramount Pictures','Four By Two Productions']

#Создадим поле для хранения количества символов названия фильма:
data['title_len'] = data.original_title.apply(lambda x: len(x))

# Функция подсчета данных из списка
def to_counter(row):
    counts_col,other_col = row
    return Counter({c:counts_col for c in other_col.split('|')})

#датафрейм с кинокомпаниями и количеством их фильмов
df_companies = pd.DataFrame(Counter(data['production_companies'].str.split('|').sum()).most_common(),\
                            columns=['production_companies','movies'])

#датафрейм с кинокомпаниями и суммой длин названий всех фильмов
df_titles = pd.DataFrame(data[['title_len','production_companies']].apply(to_counter,axis=1).sum().most_common(),\
                         columns=['production_companies','title_lens'])

# Объединила два датафрейма
df_joined = df_titles.merge(df_companies, on='production_companies',how='inner')

# Добавляю новое поле для средней длины названий фильмов по киностудиям
df_joined['title_mean'] = df_joined['title_lens']/df_joined['movies']
# Вывод результата - студий из вариантов
display(df_joined.query('production_companies in @conditions').sort_values(by='title_mean',ascending=False))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)
print('Вариант ответа - ', answer_ls[31-1])

        production_companies  title_lens  movies  title_mean
199  Four By Two Productions          83       1   83.000000
283  Jim Henson Company, The          59       1   59.000000
2         Paramount Pictures        2078     122   17.032787
434                Universal          40       3   13.333333

Вариант ответа -  5

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [74]:
#Запишем в список анализируемые компании:
conditions=['Universal','Warner Bros','Jim Henson Company, The',\
                 'Paramount Pictures','Four By Two Productions']

#Создадим поле для хранения количества слов названия фильма:
data['title_word'] = data.original_title.apply(lambda x: len(x.split()))

# Функция подсчета данных из списка
def to_counter(row):
    counts_col,other_col = row
    return Counter({c:counts_col for c in other_col.split('|')})

#датафрейм с кинокомпаниями и количеством их фильмов
df_companies = pd.DataFrame(Counter(data['production_companies'].str.split('|').sum()).most_common(),\
                            columns=['production_companies','movies'])

#датафрейм с кинокомпаниями и суммой количества слов в названиях всех фильмов по каждой кинокомпании
df_titles_words = pd.DataFrame(data[['title_word','production_companies']].apply(to_counter,axis=1).sum().most_common(),\
                         columns=['production_companies','title_words'])

# Объединила два датафрейма
df_joined = df_titles_words.merge(df_companies, on='production_companies',how='inner')

df_joined['title_word_mean'] = df_joined['title_words']/df_joined['movies']
display(df_joined.query('production_companies in @conditions').sort_values(by='title_word_mean',ascending=False))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)
print('Вариант ответа - ', answer_ls[32-1])

        production_companies  title_words  movies  title_word_mean
262  Four By Two Productions           12       1        12.000000
297  Jim Henson Company, The           10       1        10.000000
2         Paramount Pictures          350     122         2.868852
407                Universal            8       3         2.666667

Вариант ответа -  5

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [75]:
#Создадим список list_unique, в котором будут все уникальные слова из названий фильмов переведенные в нижний регистр
list_unique = np.unique(data['original_title'].apply(lambda x: str(x).lower()).str.split().sum())

print(len(list_unique))

#Добавляем в список ответов свой 'original_title'
answer_ls.append(3)
print('Вариант ответа - ', answer_ls[33-1])

2461
Вариант ответа -  3

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [76]:
#Создадим маску отбора фильмов, которые входят в 1 процент лучших по рейтингу:
mask = (data['vote_average'] > np.percentile(data['vote_average'],99)) & \
        (data['vote_average'] < np.percentile(data['vote_average'],99.99))

#Запишем в список анализируемые варианты:
list_conditions = [['Inside Out', 'Gone Girl', '12 Years a Slave'],
                   ['BloodRayne', 'The Adventures of Rocky & Bullwinkle'],
                   ['The Lord of the Rings: The Return of the King','Upside Down'],
                   ['300', 'Lucky Number Slevin'],
                   ['Upside Down','300','Inside Out','The Lord of the Rings: The Return of the King']]

# Сделаем счетчик вариантов
i = 0
# Переберем анализируемые варианты для нахождения правильного ответа:
for var_list in list_conditions:
    i += 1
# Сделаем счетчик элементов в варианте:
    n = 0 
    # Переберем список фильмов в каждом варианте:
    for item in var_list:
        if data[(data['original_title'] == item) & (mask)].empty:
            break
# Если фрейм по элементу из варианта равному названию фильма и вхождению в 1 процент лучших по рейтингу 
# пустой - мы переходим к следующему варианту:
# Иначе - увеличим счетчик элементов в рассмативаемом варианте, которые соответствуют условиям отбора 
        else:
            n += 1
# Если счетчик элементов не нуль и равен длине варианта - выведем на экран номер варианта и сам список варианта:
    if (n != 0) & (n == len(var_list)):
        print('Правильный ответ - вариант {}'.format(i), list_conditions[i-1])

#Добавляем в список ответов свой вариант ответа
answer_ls.append(1)

Правильный ответ - вариант 1 ['Inside Out', 'Gone Girl', '12 Years a Slave']

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [79]:
from itertools import combinations
#Запишем в список анализируемые варианты:
conditions = [('Johnny Depp', 'Helena Bonham Carter'),
              ('Hugh Jackman', 'Ian McKellen'),
              ('Vin Diesel', 'Paul Walker'),
              ('Adam Sandler', 'Kevin James'),
              ('Daniel Radcliffe', 'Rupert Grint')]

# Составляем комбинации пар актеров по каждому фильму, подсчитываем количество совместных фильмов 
df_cast = pd.DataFrame(Counter(np.sum([list(combinations(x, 2)) for x in data['cast'].str.split('|')])).most_common(),\
                       columns=['cast','movies'])

# Выводим результат - пары актеров из вариантов теста
display(df_cast.query('cast in @conditions').sort_values(by='movies',ascending=False))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(5)
print('Вариант ответа - ', answer_ls[35-1])

                                   cast  movies
0      (Daniel Radcliffe, Rupert Grint)       8
4   (Johnny Depp, Helena Bonham Carter)       6
5           (Adam Sandler, Kevin James)       5
6          (Hugh Jackman, Ian McKellen)       5
30            (Vin Diesel, Paul Walker)       3

Вариант ответа -  5

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [80]:
#датафрейм с режиссерами и количеством фильмов по каждому режиссеру
df_directors = pd.DataFrame(Counter(data['director'].str.split('|').sum()).most_common(),\
                            columns=['director','movies'])

#Создадим маску для выборки фильмов со сборами выше бюджета
mask = (data['revenue'] > data['budget'])

#датафрейм с кинокомпаниями и количеством прибыльных фильмов по каждому режиссеру
df_profitable_movies = pd.DataFrame(Counter(data[mask]['director'].str.split('|').sum()).most_common(),\
                                    columns=['director','profitable'])

# Объединила два датафрейма
df_joined = df_profitable_movies.merge(df_directors, on='director',how='inner')

# Новое поле для хранения процента прибыльных фильмов по каждому режиссеру
df_joined['percentage_of_profitable'] = df_joined['profitable']*100/df_joined['movies']

#Запишем в список анализируемые варианты:
conditions = ['Quentin Tarantino',
                   'Steven Soderbergh',
                   'Robert Rodriguez',
                   'Christopher Nolan',
                   'Clint Eastwood']

# Вывод результата
display(df_joined.query('director in @conditions').sort_values(by='percentage_of_profitable',ascending=False))

#Добавляем в список ответов свой вариант ответа
answer_ls.append(4)
print('Вариант ответа - ', answer_ls[36-1])

             director  profitable  movies  percentage_of_profitable
7   Christopher Nolan           8       8                100.000000
17  Quentin Tarantino           6       7                 85.714286
2      Clint Eastwood          10      12                 83.333333
3   Steven Soderbergh          10      13                 76.923077
12   Robert Rodriguez           8      11                 72.727273

Вариант ответа -  4

# Submission

In [81]:
len(answer_ls)

36

In [82]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4